@import '../scss/variables';
@import '../scss/extend';
@import '../scss/include';
@import '../scss/responsive';



#Car {

    .btn{
        color: $mRed;
        background-color: $mBlack;
        padding: 10px 5px;
    }

    h3{
        color:  purple;
    }
    h4{
        color: orange;
        text-align: center;
        span{
            color: blue;
            &:hover{
                background-color: tomato;
            }
            span{
                color: $mRed;
            }
        }
    }
    .boxes{
        // @extend .flexAround;
        @include flex(space-around);
        @include mobile{
            flex-direction: column;
        }
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            background-color: green;
        }
        @include desktop{
            flex-direction: row;
            flex-wrap: nowrap;
            background-color: unset;
        }
        gap: 1rem;
        @include bg('/vite.svg');
        background-size: 5%;
        background-position: bottom right;
        @extend .shadow;
        min-height: 30vh;
        .box{
            border: 2px solid red;
            @include mobile{
                height: 20vh;
                width: 100%;
            }
            @include tablet{
                width: 45%;
            }
            @include desktop{
                width: 25%;
            }
        }
    }
}

